<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoom.risk.platform.datacenter.dao.QuotaDatabaseMapper">

	 <select id="getStringByInput" parameterType="java.util.Map" resultType="string">
    	<![CDATA[
         	${sql}
         ]]>
    </select>

	 <select id="getObjectByInput" parameterType="java.util.Map" resultType="java.lang.Object">
    	<![CDATA[
         	${sql}
         ]]>
    </select>
    
	<select id="getDecimalByInput" parameterType="java.util.Map" resultType="decimal">
    	<![CDATA[
         	${sql}
         ]]>
	</select>

	<select id="getMapByInput" parameterType="java.util.Map" resultType="map">
    	<![CDATA[
         	${sql}
         ]]>
	</select>

	<select id="getDataListByInput" parameterType="java.util.Map"	resultType="map">
    	<![CDATA[
         	${sql}
         ]]>
	</select>
</mapper>