<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoom.risk.operating.ruleconfig.dao.QuotaDimMapper">
  <resultMap id="BaseResultMap" type="com.zoom.risk.operating.ruleconfig.model.QuotaDim">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    code, id, name
  </sql>
  
   <select id="selectAll" resultMap="BaseResultMap">
  	select
  		<include refid="Base_Column_List"/>
  	from zoom_dim
  	order by code
  </select>
  
  <insert id="insert" parameterType="com.zoom.risk.operating.ruleconfig.model.QuotaDim">
    insert into zoom_dim (code, id, name
      )
    values (#{code,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zoom.risk.operating.ruleconfig.model.QuotaDim">
    insert into zoom_dim
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoom.risk.operating.ruleconfig.model.QuotaDim">
    update zoom_dim
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoom.risk.operating.ruleconfig.model.QuotaDim">
    update zoom_dim
    set name = #{name,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>